<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>Just get started with the operation tab you need.</p>
    <div class="buttons">
      <a class="btn btn-primary" href="/task">Tasks</a>
      <a class="btn btn-primary" href="/status">Statuses</a>
      <a class="btn btn-primary" href="/executor">Executors</a>
      <hr/>
      <a class="btn btn-success" href="/account/profile">Update my data</a>
    </div>
  </div>
