<div id="login" v-cloak>
  <div class="container">
    <form action="/executor/create" method="POST">
      <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" name="mail" value="" required>
        <br>
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="executorName" value="" required>
        <br>
      </div>
      <div class="form-group">
        <label>Phone:</label>
        <input type="phone" class="form-control" name="phone" value="">
        <br>
      </div>
      <button type="submit" class="btn btn btn-success">Send</button>
    </form>
  </div>
</div>
