<div id="login" v-cloak>
  <div class="container">

<form action="/status/create" method="POST">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="" required>
        <br>
    </div>
    <div class="form-group">
        <label>System name:</label>
        <input type="text" class="form-control" name="name" value="" required>
        <br>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Send</button>
</form>

 </div>
 </div>
