<div id="login" v-cloak>
  <div class="container">

<form action="/status/update/" method="POST">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" name="title" value="<%= status.title %>">
        <br>
    </div>
    <div class="form-group">
        <label>System name:</label>
        <input type="text" class="form-control" name="name" value="<%= status.name %>">
        <br>
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" rows="3"><%= status.description %></textarea>
    </div>
    <input type="hidden" name="id" value="<%= status.id %>">
    <button type="submit" class="btn btn-success">Save</button>
    <a href="/status" class="btn btn-dark float-right">Get Back</a>
</form>

</div>
</div>
