<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <h2 class="display-4 text-success">Let's get to work. Please, <strong>Log In</strong></h2>
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/fuulogo.png"/>
      </div>

    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
